#AuthType Basic
#AuthName "Dostep ograniczony na czas testow"
#AuthUserFile "/etc/apache2/leo.passwd"
#Require valid-user

Options -Indexes

ServerSignature Off

php_value upload_max_filesize 10M
php_value post_max_size 200M

RedirectMatch 404 /\.git
RedirectMatch 404 /\.gitignore

#RewriteEngine On
#RewriteCond %{REQUEST_URI} \.(jpg|png|css|js|pdf|igc|kml)$
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ https://files.leonardo.pgxc.pl/$1 [R=301,L] 
