body , p, table, td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	text-align:justify;
}

h1 {
	font-size: 14pt;
}

h2,h3 {
	font-size: 11pt;
	font-weight:bold;
	border-bottom:#CC3333 3px solid;	
	width:  760px;
	display:block;
}

a:link, a:visited {
	text-decoration:underline;
	color:#5B5FE3;
}

a:hover {
	background-color:#FFCC66;
}

.small {
	font-size: 7pt;
	font-style: normal;
}