<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html dir="{S_CONTENT_DIRECTION}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={S_CONTENT_ENCODING}">
<meta http-equiv="Content-Style-Type" content="text/css">
{META_HTTP_EQUIV_TAGS}
<title>{SITENAME} - {PAGE_TITLE}</title>{META_TAGS}
{META}
{NAV_LINKS}
<link rel="stylesheet" href="{T_HEAD_STYLESHEET}" type="text/css">
<style type="text/css">
<!--
body {
	background-color:#a1a1a1;
	background-image:url({T_PATH}pagebg.gif);
	background-repeat:repeat-x;
	margin:0;
}
-->
</style>
<!--[if IE]>
<style type="text/css">
/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("{T_PATH}formIE.css");
</style>
<![endif]-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111088592-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111088592-1');
</script>

<link rel="stylesheet" type="text/css" href="https://leonardo.pgxc.pl/js/cookieconsent.min.css" />
<script src="https://leonardo.pgxc.pl/js/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "position": "bottom-right",
  "content": {
    "message": "Serwis wykorzystuje pliki cookies. Korzystając ze strony wyrażasz zgodę na wykorzystywanie plików cookies.\n",
    "dismiss": "OK!",
    "link": "dowiedz się więcej",
    "href": "http://pgxc.pl/cookie-policy/"
  }
})});
</script>
</head>
<body topmargin="0"  bottommargin="0" bgcolor="#a1a1a1" text="{T_BODY_TEXT}" link="{T_BODY_LINK}" vlink="{T_BODY_VLINK}">
<a name="top"></a>
<table width="760" height="100%" cellspacing="0" cellpadding="4" border=0 align="center" class='mainBodyTable' > 
	<tr> 
		<td class="bodyline" align="left" valign="top">
		<!-- BEGIN show_header -->
		
			  <table style="margin-bottom:5px; margin-top:0px;" width="760" height="105" border="0" align="center" cellpadding="0" cellspacing="0" background="{T_PATH}back.jpg">
				  <tr>
					  <td width="130" align="center" valign="middle">
					    <div align="left" ><img src="{T_PATH}leonardo_logo.gif" width="126" height="100"></div></td>
			          <td width="572"  align="center" valign="top">
					  <div align="right" style="clear:none;
					  padding-top:5px; padding-right:5px; 
					  font-family:Georgia, 'Times New Roman', Times, serifl;
					  font-size:18px; font-weight:bold; color:#555555;"><img src="{T_PATH}motto.gif" width="345" height="37"></div>
					    
  					  <div align="left" 
					  style="float:left;clear:none;position:relative; left:0px; top:29px;  width:400px; display:{TOP_CUSTOM_LOGO_DISPLAY};
					  text-align:center;  padding:5px; font-family:Vendana, Arial ; text-align:center; 
border-top:1px solid #ffffff;
border-left:1px solid #ffffff;

border-right:1px solid #ffffff;
border-bottom:1px solid #ffffff;

					  font-size:18px; font-weight:bold; color:#ffffff; background-color:#E9CF73;">{TOP_CUSTOM_LOGO}</div>
					  
		              <div align="right" style="margin-top:20px; padding-right:7px; clear:none; float:right;"><a href="{U_INDEX}"><img src="{T_PATH}p19_logo.gif" border="0" title="{L_INDEX}" vspace="1"/></a></div>
					  </td>
			    </tr>
		      </table>
		<!-- END show_header -->
