<style type="text/css">
<!--
.continent_div {
	display:none;
	clear:none;
	width:1px;
}

#vnav, #vnav ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	float : left;
	width : 10em;
	z-index:-1;
}

#vnav {
	margin-left:0px;
	padding-bottom:20px;
}


#vnav li { /* all list items */
	position : relative;
	float : left;
	line-height : 1.25em;
	margin-bottom : -1px;
	width: 10em;
}

#vnav li a {
	width: 11em;
	w\idth : 10em;
	display : block;
			
	padding : 0 0.3em;

	font-size:11px;
	color : black;
	font-weight : normal;
	text-decoration : none;

	border-width: 1px;
	border-style: solid;
	border-color: #ccc #888 #555 #bbb;
	margin: 0;

	padding: 2px 6px;

	background-color:#ECEFF2;
	z-index:-1;
}


#vnav li a:hover {
	color : white;
	background-color : black;
}



.dropBox {
	display:block;
	position:absolute;

	top:0px;
	left: -999em;
	width:auto;
	height:auto;
	
	visibility:hidden;

	border-style: solid; 
	border-right-width: 2px; border-bottom-width: 2px; border-top-width: 1px; border-left-width: 1px;
	border-right-color: #999999; border-bottom-color: #999999; border-top-color: #E2E2E2; border-left-color: #E2E2E2;
	border-right-color: #555555; border-bottom-color: #555555; border-top-color: #E2E2E2; border-left-color: #E2E2E2;
	
	background-color:#FFFFFF;
	padding: 1px 1px 1px 1px;
	margin-bottom:0px;

}

.takeoffOptionsDropDown { width:410px; }


-->
</style>

<script language='javascript' src='{MODULE_REL_PATH}/js/autocomplete.js'></script>
<script language='javascript' src='{MODULE_REL_PATH}/js/tipster.js'></script>

<script language='javascript'>

function takeoffDetails() {
		var wIndex = availableList.selectedIndex;
		if(wIndex  <= 0)  return;

		wID=availableList.options[wIndex]['value'];
//		wID=1;
		document.getElementById('takeoffFrame').src='{MODULE_REL_PATH}/GUI_EXT_waypoint_details_admin.php?wID='+wID+'&lang={LANG}';
		MWJ_changeSize('takeoffFrame',605,420);
		MWJ_changeSize('takeoffID', 605,450 );

		oMC = MWJ_getPosition( MWJ_findObj('takeoffPos') );
		MWJ_changePosition( 'takeoffID',  oMC[0]+2  ,  oMC[1] + 2 , true );

		//MWJ_changeDisplay('takeoffID',"block");
		MWJ_changeVisibility( 'takeoffID' ,true );	
		//toggleVisible('takeoffID','takeoffPos',30,0,610,320);
}

var selectedList;
var availableList;
function createListObjects(){
    availableList = document.getElementById("availableSitesList");
    selectedList = document.getElementById("selectedSitesList");
}

/* I've set up two global object variables in the createListObjects() method—one 
for the available options and one for the user-selected options. 
The code calls the createListObjects() method from the onLoad event of the body tag so that you 
can later access the properties and methods of the objects anywhere in the script.
 Next, add the methods that move a single option between the lists.
*/

function delAttribute(){
   var selIndex = selectedList.selectedIndex;
   if(selIndex <= 0)
      return;
   availableList.appendChild(
      selectedList.options.item(selIndex))
   selectNone(selectedList,availableList);
   setSize(availableList,selectedList);
	MWJ_changeVisibility( 'takeoffID' ,false);	
}
function addAttribute(){
   var addIndex = availableList.selectedIndex;
   if(addIndex <= 0)
      return;
   selectedList.appendChild( 
      availableList.options.item(addIndex));
   selectNone(selectedList,availableList);
   setSize(selectedList,availableList);
	MWJ_changeVisibility( 'takeoffID' ,false);	
}

function delAll(){
    var len = selectedList.length -1;
    for(i=len; i>0; i--){
        availableList.appendChild(selectedList.item(i));
    }
    selectNone(selectedList,availableList);
    setSize(selectedList,availableList);
   	MWJ_changeVisibility( 'takeoffID' ,false);	
}

function addAll(){
    var len = availableList.length -1;
    for(i=len; i>0; i--){
        selectedList.appendChild(availableList.item(i));
    }
    selectNone(selectedList,availableList);
    setSize(selectedList,availableList);
	MWJ_changeVisibility( 'takeoffID' ,false);	    
}


function setSize(list1,list2){
   // list1.size = getSize(list1);
   // list2.size = getSize(list2);
}

function selectNone(list1,list2){
    list1.selectedIndex = -1;
    list2.selectedIndex = -1;
    addIndex = -1;
    selIndex = -1;
}

function getSize(list){
    /* Mozilla ignores whitespace, 
       IE doesn't - count the elements 
       in the list */
    var len = list.childNodes.length;
    var nsLen = 0;
    //nodeType returns 1 for elements
    for(i=0; i<len; i++){
        if(list.childNodes.item(i).nodeType==1)
            nsLen++;
    }
    if(nsLen<2)
        return 2;
    else
        return nsLen;
}

function changeContinent() {
	var continentSelect= document.getElementById("continentSelect");
	c=continentSelect.value;
	if (c>0)  {
		showContinent(c);
	}	
}


function selCountryAction(selId) {
	var countryCode = document.getElementById(selId).value;
	if (countryCode !='') {
		selCountry(countryCode);
	}
}

function showContinent(cID) {
	for(i=1;i<=6;i++) {
		divName="continent_"+i;
		if (i==cID) {
			MWJ_changeDisplay(divName,"inline");
		} else {
			MWJ_changeDisplay(divName,"none");
		}
	}
	MWJ_changeVisibility( 'takeoffID' ,false);	
	//continentTip.show('c'+cID);
}


</script>

<div id="takeoffID" class="dropBox takeoffOptionsDropDown" style="visibility:hidden;">
<div id='takeoffDiv'>
<iframe id="takeoffFrame" width="605" height="auto" frameborder=0 style='border-width:0px'></iframe></div>
</div>


<form name="sitesSelect" method="post" action="">
  <div class='tableTitle shadowBox'>
   <div class='titleDiv'>Administer takeoffs
   
	<div  style="display:inline; clear:none">   
    <select  name="continentSelect" id="continentSelect" onchange="changeContinent()">
		<option  value="0">Select Continent</option>
		<option  value="4">Africa</option>
		<option  value="6">Australia</option>
		<option  value="2">SouthAmerica</option>
		<option  value="3">NorthCentralAmerica</option>
		<option  value="1" selected>Europe</option>
		<option  value="5">Asia</option>
	</select>
	<div id="continent_1" class="continent_div">{continent_1}</div>
	<div id="continent_2" class="continent_div">{continent_2}</div>
	<div id="continent_3" class="continent_div">{continent_3}</div>
	<div id="continent_4" class="continent_div">{continent_4}</div>
	<div id="continent_5" class="continent_div">{continent_5}</div>
	<div id="continent_6" class="continent_div">{continent_6}</div>
	</div>
	
	<div  style="display:inline; clear:none; padding-left:15px;">Search 
<input type="text" name="input1" value="" size=10 onKeyUp="autoComplete(this,'takeoffList','text',false)" />
	</div>
   </div>
  </div>

  <table class="simpleTable sitesTable" style="clear:both;" width="900"  border="0" align="center" cellpadding="5" cellspacing="1">
    <tr bgcolor="#CCD0E3">
      <td width="250" valign="top">
        <p align="left">
        <strong>Takeoff List </strong><br />
        <select name="takeoffList" size="10" id="takeoffList"  style="display:none">
            {TAKEOFF_OPTION_LIST}             
        </select>
	  </td>
    
      <td><strong>Takeoff Details</strong> </td>
    </tr>
    <tr>


      <td valign="top" bgcolor="#EAF0E6"><div style="display:block; width:250px;float:left" >
  		<input type="hidden" id="availableSitesListInitVal" value="------ {#_Available_Takeoffs} -------" />
        <select name="availableSitesList" id="availableSitesList" size="15"  style="width:250px"  onChange="takeoffDetails()">
        	<option value="0" >------ {#_Available_Takeoffs} -------</option>
        </select>		
	      <br>
		    <input type="button" onclick="addAll();" value=">>">
            <input name="button" type="button" onclick="addAttribute();" value=">">  
          <br>
            {#_takeoff_move_instructions_1}
			</div>	 </td>
      <td rowspan="2" valign="top" bgcolor="#DDE3E8">
	  <div id='takeoffPos'></div>	   		</td>
	</tr>
    <tr>
      <td valign="top">   
	    
	 <p align="left">
     <input type="button" name="clearSelected" value="{#_Clear_this_list}" onClick="removeAllOptions(document.forms['sitesSelect']['selectedSitesList']);">
        </p>
		<p>
            <select name="selectedSitesList"  id="selectedSitesList" size="12" multiple="multiple">
            </select>
        </p>
          <p>
            <input type="button" name="SubmitButton" id="SubmitButton" value="{#_See_the_selected_sites_in_Google_Earth}"
		  onClick="seeSites('{MODULE_REL_PATH}/','selectedSitesList');">
      </p>		</td>
    </tr>
  </table>
</form>

<script language="javascript">
MWJ_changeDisplay("continent_1","inline");
createListObjects();
</script>