
img.fl {
    background: url(/modules/leonardo/img/flags.gif) no-repeat top left;
   	float:none;
	display:inline-block;
    clear:none;
	width:18px;
	height:12px;
	*display:inline;
}

img.fl.sprite-us { background-position: 0 -5px; } 
img.fl.sprite-mp { background-position: 0 -22px; } 
img.fl.sprite-vc { background-position: 0 -39px; } 
img.fl.sprite-dk { background-position: 0 -56px; } 
img.fl.sprite-se { background-position: 0 -73px; } 
img.fl.sprite-ng { background-position: 0 -90px; } 
img.fl.sprite-kg { background-position: 0 -107px; } 
img.fl.sprite-mc { background-position: 0 -124px; } 
img.fl.sprite-sr { background-position: 0 -141px; } 
img.fl.sprite-tv { background-position: 0 -160px; } 
img.fl.sprite-cz { background-position: 0 -177px; } 
img.fl.sprite-sk { background-position: 0 -194px; } 
img.fl.sprite-fi { background-position: 0 -211px; } 
img.fl.sprite-jm { background-position: 0 -228px; } 
img.fl.sprite-so { background-position: 0 -245px; } 
img.fl.sprite-gp { background-position: 0 -262px; } 
img.fl.sprite-ck { background-position: 0 -279px; } 
img.fl.sprite-nf { background-position: 0 -296px; } 
img.fl.sprite-fo { background-position: 0 -313px; } 
img.fl.sprite-om { background-position: 0 -330px; } 
img.fl.sprite-st { background-position: 0 -347px; } 
img.fl.sprite-pw { background-position: 0 -364px; } 
img.fl.sprite-hr { background-position: 0 -381px; } 
img.fl.sprite-er { background-position: 0 -398px; } 
img.fl.sprite-tw { background-position: 0 -415px; } 
img.fl.sprite-kr { background-position: 0 -432px; } 
img.fl.sprite-zw { background-position: 0 -449px; } 
img.fl.sprite-gd { background-position: 0 -466px; } 
img.fl.sprite-az { background-position: 0 -483px; } 
img.fl.sprite-ne { background-position: 0 -500px; } 
img.fl.sprite-gy { background-position: 0 -517px; } 
img.fl.sprite-mo { background-position: 0 -534px; } 
img.fl.sprite-dz { background-position: 0 -551px; } 
img.fl.sprite-cl { background-position: 0 -568px; } 
img.fl.sprite-fm { background-position: 0 -585px; } 
img.fl.sprite-vu { background-position: 0 -602px; } 
img.fl.sprite-ba { background-position: 0 -619px; } 
img.fl.sprite-bo { background-position: 0 -636px; } 
img.fl.sprite-lr { background-position: 0 -653px; } 
img.fl.sprite-lv { background-position: 0 -670px; } 
img.fl.sprite-bi { background-position: 0 -687px; } 
img.fl.sprite-rw { background-position: 0 -704px; } 
img.fl.sprite-mm { background-position: 0 -721px; } 
img.fl.sprite-pm { background-position: 0 -738px; } 
img.fl.sprite-jo { background-position: 0 -755px; } 
img.fl.sprite-cg { background-position: 0 -772px; } 
img.fl.sprite-bv { background-position: 0 -789px; } 
img.fl.sprite-cf { background-position: 0 -806px; } 
img.fl.sprite-li { background-position: 0 -823px; } 
img.fl.sprite-mq { background-position: 0 -840px; } 
img.fl.sprite-jp { background-position: 0 -857px; } 
img.fl.sprite-yu { background-position: 0 -874px; } 
img.fl.sprite-tp { background-position: 0 -891px; } 
img.fl.sprite-ki { background-position: 0 -908px; } 
img.fl.sprite-lu { background-position: 0 -925px; } 
img.fl.sprite-dm { background-position: 0 -942px; } 
img.fl.sprite-py { background-position: 0 -959px; } 
img.fl.sprite-ag { background-position: 0 -976px; } 
img.fl.sprite-co { background-position: 0 -993px; } 
img.fl.sprite-gb { background-position: 0 -1010px; } 
img.fl.sprite-cd { background-position: 0 -1027px; } 
img.fl.sprite-ci { background-position: 0 -1044px; } 
img.fl.sprite-cs { background-position: 0 -1061px; } 
img.fl.sprite-sg { background-position: 0 -1078px; } 
img.fl.sprite-af { background-position: 0 -1095px; } 
img.fl.sprite-sm { background-position: 0 -1112px; } 
img.fl.sprite-ml { background-position: 0 -1129px; } 
img.fl.sprite-mg { background-position: 0 -1146px; } 
img.fl.sprite-la { background-position: 0 -1163px; } 
img.fl.sprite-pg { background-position: 0 -1180px; } 
img.fl.sprite-in { background-position: 0 -1197px; } 
img.fl.sprite-sv { background-position: 0 -1214px; } 
img.fl.sprite-il { background-position: 0 -1231px; } 
img.fl.sprite-gt { background-position: 0 -1248px; } 
img.fl.sprite-cr { background-position: 0 -1265px; } 
img.fl.sprite-mk { background-position: 0 -1282px; } 
img.fl.sprite-es { background-position: 0 -1299px; } 
img.fl.sprite-aq { background-position: 0 -1316px; } 
img.fl.sprite-bh { background-position: 0 -1333px; } 
img.fl.sprite-bz { background-position: 0 -1350px; } 
img.fl.sprite-sd { background-position: 0 -1367px; } 
img.fl.sprite-je { background-position: 0 -1384px; } 
img.fl.sprite-nc { background-position: 0 -1401px; } 
img.fl.sprite-ga { background-position: 0 -1418px; } 
img.fl.sprite-re { background-position: 0 -1435px; } 
img.fl.sprite-br { background-position: 0 -1452px; } 
img.fl.sprite-kh { background-position: 0 -1469px; } 
img.fl.sprite-lt { background-position: 0 -1486px; } 
img.fl.sprite-hn { background-position: 0 -1503px; } 
img.fl.sprite-kn { background-position: 0 -1520px; } 
img.fl.sprite-mt { background-position: 0 -1537px; } 
img.fl.sprite-pr { background-position: 0 -1554px; } 
img.fl.sprite-ma { background-position: 0 -1571px; } 
img.fl.sprite-id { background-position: 0 -1589px; } 
img.fl.sprite-ir { background-position: 0 -1606px; } 
img.fl.sprite-ke { background-position: 0 -1623px; } 
img.fl.sprite-bs { background-position: 0 -1640px; } 
img.fl.sprite-km { background-position: 0 -1657px; } 
img.fl.sprite-dj { background-position: 0 -1674px; } 
img.fl.sprite-sa { background-position: 0 -1691px; } 
img.fl.sprite-hk { background-position: 0 -1708px; } 
img.fl.sprite-uy { background-position: 0 -1725px; } 
img.fl.sprite-gw { background-position: 0 -1742px; } 
img.fl.sprite-na { background-position: 0 -1759px; } 
img.fl.sprite-bf { background-position: 0 -1776px; } 
img.fl.sprite-ps { background-position: 0 -1793px; } 
img.fl.sprite-tr { background-position: 0 -1810px; } 
img.fl.sprite-sy { background-position: 0 -1827px; } 
img.fl.sprite-fk { background-position: 0 -1845px; } 
img.fl.sprite-fj { background-position: 0 -1861px; } 
img.fl.sprite-tf { background-position: 0 -1878px; } 
img.fl.sprite-ie { background-position: 0 -1895px; } 
img.fl.sprite-zm { background-position: 0 -1912px; } 
img.fl.sprite-ph { background-position: 0 -1929px; } 
img.fl.sprite-gq { background-position: 0 -1946px; } 
img.fl.sprite-md { background-position: 0 -1963px; } 
img.fl.sprite-gn { background-position: 0 -1980px; } 
img.fl.sprite-kz { background-position: -27px -5px; } 
img.fl.sprite-is { background-position: -27px -22px; } 
img.fl.sprite-de { background-position: -27px -39px; } 
img.fl.sprite-tn { background-position: -27px -56px; } 
img.fl.sprite-sb { background-position: -27px -73px; } 
img.fl.sprite-eu { background-position: -27px -90px; } 
img.fl.sprite-gl { background-position: -27px -107px; } 
img.fl.sprite-ge { background-position: -27px -124px; } 
img.fl.sprite-an { background-position: -27px -141px; } 
img.fl.sprite-pl { background-position: -27px -158px; } 
img.fl.sprite-cv { background-position: -27px -175px; } 
img.fl.sprite-bd { background-position: -27px -192px; } 
img.fl.sprite-td { background-position: -27px -209px; } 
img.fl.sprite-ru { background-position: -27px -226px; } 
img.fl.sprite-tg { background-position: -27px -243px; } 
img.fl.sprite-mh { background-position: -27px -260px; } 
img.fl.sprite-np { background-position: -27px -276px; } 
img.fl.sprite-tj { background-position: -27px -293px; } 
img.fl.sprite-tz { background-position: -27px -310px; } 
img.fl.sprite-nl { background-position: -27px -327px; } 
img.fl.sprite-ao { background-position: -27px -344px; } 
img.fl.sprite-gm { background-position: -27px -361px; } 
img.fl.sprite-eg { background-position: -27px -378px; } 
img.fl.sprite-ad { background-position: -27px -395px; } 
img.fl.sprite-mu { background-position: -27px -412px; } 
img.fl.sprite-as { background-position: -27px -429px; } 
img.fl.sprite-ec { background-position: -27px -446px; } 
img.fl.sprite-gi { background-position: -27px -463px; } 
img.fl.sprite-ls { background-position: -27px -480px; } 
img.fl.sprite-al { background-position: -27px -497px; } 
img.fl.sprite-lb { background-position: -27px -514px; } 
img.fl.sprite-aw { background-position: -27px -531px; } 
img.fl.sprite-am { background-position: -27px -548px; } 
img.fl.sprite-tc { background-position: -27px -565px; } 
img.fl.sprite-mn { background-position: -27px -582px; } 
img.fl.sprite-pe { background-position: -27px -599px; } 
img.fl.sprite-do { background-position: -27px -616px; } 
img.fl.sprite-vi { background-position: -27px -633px; } 
img.fl.sprite-nr { background-position: -27px -650px; } 
img.fl.sprite-vg { background-position: -27px -667px; } 
img.fl.sprite-at { background-position: -27px -684px; } 
img.fl.sprite-ms { background-position: -27px -701px; } 
img.fl.sprite-bw { background-position: -27px -718px; } 
img.fl.sprite-ro { background-position: -27px -735px; } 
img.fl.sprite-cy { background-position: -27px -752px; } 
img.fl.sprite-it { background-position: -27px -769px; } 
img.fl.sprite-lc { background-position: -27px -786px; } 
img.fl.sprite-fr { background-position: -27px -803px; } 
img.fl.sprite-uk { background-position: -27px -820px; } 
img.fl.sprite-ye { background-position: -27px -837px; } 
img.fl.sprite-hu { background-position: -27px -854px; } 
img.fl.sprite-ar { background-position: -27px -871px; } 
img.fl.sprite-ky { background-position: -27px -888px; } 
img.fl.sprite-bg { background-position: -27px -905px; } 
img.fl.sprite-mz { background-position: -27px -922px; } 
img.fl.sprite-ca { background-position: -27px -939px; } 
img.fl.sprite-unknown { background-position: -27px -956px; } 
img.fl.sprite-kw { background-position: -27px -973px; } 
img.fl.sprite-tt { background-position: -27px -990px; } 
img.fl.sprite-gr { background-position: -27px -1007px; } 
img.fl.sprite-ly { background-position: -27px -1024px; } 
img.fl.sprite-zr { background-position: -27px -1041px; } 
img.fl.sprite-ve { background-position: -27px -1058px; } 
img.fl.sprite-sz { background-position: -27px -1075px; } 
img.fl.sprite-ua { background-position: -27px -1092px; } 
img.fl.sprite-cu { background-position: -27px -1109px; } 
img.fl.sprite-im { background-position: -27px -1126px; } 
img.fl.sprite-bm { background-position: -27px -1143px; } 
img.fl.sprite-lk { background-position: -27px -1160px; } 
img.fl.sprite-kp { background-position: -27px -1177px; } 
img.fl.sprite-au { background-position: -27px -1194px; } 
img.fl.sprite-mv { background-position: -27px -1211px; } 
img.fl.sprite-pa { background-position: -27px -1228px; } 
img.fl.sprite-gu { background-position: -27px -1245px; } 
img.fl.sprite-ai { background-position: -27px -1262px; } 
img.fl.sprite-qa { background-position: -27px -1279px; } 
img.fl.sprite-th { background-position: -27px -1296px; } 
img.fl.sprite-pf { background-position: -27px -1313px; } 
img.fl.sprite-uz { background-position: -27px -1330px; } 
img.fl.sprite-si { background-position: -27px -1347px; } 
img.fl.sprite-bb { background-position: -27px -1364px; } 
img.fl.sprite-by { background-position: -27px -1381px; } 
img.fl.sprite-um { background-position: -27px -1398px; } 
img.fl.sprite-hm { background-position: -27px -1414px; } 
img.fl.sprite-iq { background-position: -27px -1430px; } 
img.fl.sprite-ae { background-position: -27px -1447px; } 
img.fl.sprite-cn { background-position: -27px -1464px; } 
img.fl.sprite-my { background-position: -27px -1481px; } 
img.fl.sprite-sc { background-position: -27px -1498px; } 
img.fl.sprite-et { background-position: -27px -1515px; } 
img.fl.sprite-gh { background-position: -27px -1532px; } 
img.fl.sprite-bj { background-position: -27px -1549px; } 
img.fl.sprite-io { background-position: -27px -1566px; } 
img.fl.sprite-ug { background-position: -27px -1582px; } 
img.fl.sprite-vn { background-position: -27px -1599px; } 
img.fl.sprite-mw { background-position: -27px -1616px; } 
img.fl.sprite-pk { background-position: -27px -1633px; } 
img.fl.sprite-bt { background-position: -27px -1650px; } 
img.fl.sprite-to { background-position: -27px -1667px; } 
img.fl.sprite-cm { background-position: -27px -1684px; } 
img.fl.sprite-va { background-position: -27px -1701px; } 
img.fl.sprite-pt { background-position: -27px -1718px; } 
img.fl.sprite-za { background-position: -27px -1735px; } 
img.fl.sprite-mx { background-position: -27px -1752px; } 
img.fl.sprite-ws { background-position: -27px -1769px; } 
img.fl.sprite-mr { background-position: -27px -1786px; } 
img.fl.sprite-no { background-position: -27px -1803px; } 
img.fl.sprite-ht { background-position: -27px -1820px; } 
img.fl.sprite-ee { background-position: -27px -1837px; } 
img.fl.sprite-ni { background-position: -27px -1854px; } 
img.fl.sprite-sn { background-position: -27px -1871px; } 
img.fl.sprite-bn { background-position: -27px -1888px; } 
img.fl.sprite-tm { background-position: -27px -1905px; } 
img.fl.sprite-nz { background-position: -27px -1922px; } 
img.fl.sprite-sl { background-position: -27px -1939px; } 
img.fl.sprite-be { background-position: -27px -1956px; } 
img.fl.sprite-ch { background-position: -27px -1973px; } 
