<style type="text/css">
<!--
.borderTop {
	border-top:1px solid #cccccc;
}

.mapDiv{ 
	padding-top:4px;
	padding-bottom:20px;
}
.mapDiv2col { 
	clear:none; width:610px; display:block; float:left;
	padding-top:4px;
	padding-bottom:20px;
}

.imgDiv{
	display:none; clear:none; width:0;
}

.imgDiv2col{
	clear:none; width:150px; display:block; float:right; padding-left:0px; vertical-align:top;
	text-align:right;
}

.imgPanel {
	width:auto;
	display:block;
}

.imgBox {
	width:auto;
	display:block;
	float:right;
	clear:both;
	background-color:#F5F7F9;
	padding:3px;
	margin:3px;
}



fieldset.legendBox { 
	border-style: solid; 
	border-right-width: 2px; border-bottom-width: 2px; border-top-width: 1px; border-left-width: 1px;
	border-right-color: #999999; border-bottom-color: #999999; border-top-color: #E2E2E2; border-left-color: #E2E2E2;

	padding:0 1em .5em 0.4em; 	
	margin-bottom:0.5em;
	margin-right:5px;
	margin-left:5px;
	text-align:left;
	background-color:#f4f4f4;
}
.legendBox legend {
	border:1px outset #E2E2E2;
	padding:0.2em 1.2em 0.2em 1.2em;
	margin:0;
	color:#000000;
	font-weight:bold;
	background-color:#D9E9F1;
}


.flightShowBoxHeader {
	display:block;
	clear:both;
	border-style: solid; 
	border-right-width: 2px; border-bottom-width: 2px; border-top-width: 1px; border-left-width: 1px;
	/* MORE black */
	/*	border-right-color: #555555; border-bottom-color: #555555; border-top-color: #E2E2E2; border-left-color: #E2E2E2;*/
	border-right-color: #999999; border-bottom-color: #999999; border-top-color: #E2E2E2; border-left-color: #E2E2E2;

	height:22px;

	margin-bottom:0px;
	margin-top:0px;

	padding:0;
	padding-left:5px;
	padding-right:5px;
	
	font-weight:bold;
	background-color:#7FAAD9;
	color:#FFFFFF;
	width:760px;
}

html>body .flightShowBoxHeader {
	width:747px;
}

.flightShowBox {
	/*display:block;*/
	border:none;

	font-size:11px;
	text-decoration:none;
	text-align:left;
	background-color:#FFFFFF;	
	
	padding:0;
	margin:0;
	width:760px;
	clear:both;
}


html>body .flightShowBox {
	width:760px;
}

.flightShadowBox {
	border-right-width: 2px; border-bottom-width: 2px; border-top-width: 1px; border-left-width: 1px;
	border-right-style: solid; border-bottom-style: solid; border-top-style: solid; border-left-style: solid;
	border-right-color: #999999; border-bottom-color: #999999; border-top-color: #E2E2E2; border-left-color: #E2E2E2;
	background-color:#f4f4f4;
	background-color:#fbfbfb;
}

.flightShadowBox  th {
	background-color:#D9E9F1;
	color:#222255;
	padding:3px;
}

.col1 th { 	background-color:#F1EAD9; }
.col2 th {	background-color:#D9DBF1; }
.col3 th { 	background-color:#E0F1D9; }

.dropBox {
	display:block;
	position:absolute;

	top:0px;
	left: -999em;
	width:auto;
	height:auto;
	
	visibility:hidden;

	border-style: solid; 
	border-right-width: 2px; border-bottom-width: 2px; border-top-width: 1px; border-left-width: 1px;
	border-right-color: #999999; border-bottom-color: #999999; border-top-color: #E2E2E2; border-left-color: #E2E2E2;
	border-right-color: #555555; border-bottom-color: #555555; border-top-color: #E2E2E2; border-left-color: #E2E2E2;
	
	background-color:#FFFFFF;
	padding: 1px 1px 1px 1px;
	margin-bottom:0px;

}
.googleEarthDropDown { width:170px; }
.takeoffOptionsDropDown {width:410px; }

-->
</style>
<div id="takeoffArea1" style="visibility:hidden; position:absolute; top:0px; left: -999em;">
	<table class="main_text flightShadowBox" bgcolor="#FFFFFF" cellpadding="4" cellspacing="0" width="320" border="0" >
	<tr>
	<th>
	<div align="left" style="display:inline; float:left; clear:left;">{#_FLYING_AREA_INFO}</div>
		<div align="right" style="display:inline; float:right; clear:right;">
			<a href='#' onclick="toggleVisible('takeoffArea1','takeoffArea1Pos',14,-20,0,0);return false;">
			<img src='{T_PATH}/img/exit.png' border=0></a></div>
	</th>

	</tr>
<tr><td bgcolor="#FFFFFF">{linkToInfoStr1}</td></tr></table>
</div>

<div class='flightShowBoxHeader'>
	<div id='pilot_pos' class='titleDiv'>{legend}</div>
	<div class='pagesDiv'>{legendRight}</div>
</div>
<table align="center"  cellpadding="0" cellspacing="0" class="flightShowBox" width="760">
  <tbody>
    <tr>
      <td align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0">
        <tr>
          <td width="300"  valign="top"><table  class="main_text flightShadowBox col1" width="300" border="0" cellpadding="0">
            <tr>
              <th colspan="2">{#_Takeoff_Info}</th>
            </tr>
            <tr>
              <td width="200"><div align="left">{#_TAKEOFF_LOCATION}</div></td>
              <td width="100"><div align="right">{TAKEOFF_TIME}</div></td>
            </tr>
            <tr>
              <td colspan="2" height=29><div align="left">{TAKEOFF_LOCATION}</div></td>
            </tr>
            <tr>
              <td class='borderTop'>{#_LANDING_LOCATION}</td>
              <td class='borderTop'><div align="right">{LANDING_TIME}</div></td>
            </tr>
            <tr>
              <td colspan="2" height=29><div align="left">{LANDING_LOCATION}</div></td>
            </tr>
          </table>            <table class="main_text flightShadowBox col1" width="300" border="0" cellpadding="0" style="margin-top:8px;">
              <tr>
                <th colspan="2">{#_XC_Info}</th>
              </tr>
              <tr>
                <td width="149"><div align="left">{#_OPEN_DISTANCE}</div></td>
                <td width="142"><div align="right">{LINEAR_DISTANCE}</div></td>
              </tr>
              <tr>
                <td><div align="left">{#_MAX_DISTANCE}</div></td>
                <td><div align="right">{MAX_DISTANCE}</div></td>
              </tr>
              <tr>
                <td><div align="left">{#_OLC_DISTANCE}</div></td>
                <td><div align="right">{OLC_KM}</div></td>
              </tr>
              <tr>
                <td><div align="left">{#_OLC_SCORING}</div></td>
                <td><div align="right">{OLC_KM}</div></td>
              </tr>
              <tr>
                <td><div align="left">{#_OLC_SCORE_TYPE}</div></td>
                <td><div align="right">{OLC_TYPE}</div></td>
              </tr>
            </table></td>
          <td width="280" valign="top" align="center">
			<table align=center class="main_text flightShadowBox col2" width="270" border="0" cellpadding="0" style='clear:left;'>
            <tr>
              <th height=22>{#_GLIDER} {gliderCat} </th>
            </tr>
            <tr>
              <td><div align="left" style='height:28px;'>
                <div align="center">{glider}</div>
              </div></td>
            </tr>
          </table>
			<table class="main_text flightShadowBox col2" width="270" border="0" cellpadding="0" style="margin-top:8px;">
            <tr>
              <th colspan="2">{#_Flight_Info}</th>
            </tr>

            <tr>
              <td >{#_DURATION}</td>
              <td width="70"><div align="right">{DURATION}</div></td>
            </tr>
            <tr>
              <td class='borderTop'><div align="left">{#_MAX_VARIO}</div></td>
              <td class='borderTop'><div align="right">{MAX_VARIO}</div></td>
            </tr>
            <tr>
              <td><div align="left">{#_MIN_VARIO}</div></td>
              <td><div align="right">{MIN_VARIO}</div></td>
            </tr>
            <tr>
              <td class='borderTop'>{#_MAX_ALTITUDE}</td>
              <td class='borderTop'><div align="right">{MAX_ALT}</div></td>
            </tr>
            <tr>
              <td>{#_MIN_ALTITUDE}</td>
              <td><div align="right">{MIN_ALT}</div></td>
            </tr>
            <tr>
              <td>{#_TAKEOFF_ALTITUDE}</td>
              <td><div align="right">{TAKEOFF_ALT}</div></td>
            </tr>
            <tr>
              <td>{#_ALTITUDE_GAIN}</td>
              <td><div align="right">{ALTITUDE_GAIN}</div></td>
            </tr>
            <tr>
              <td class='borderTop'>{#_MAX_SPEED}</td>
              <td class='borderTop'><div align="right">{MAX_SPEED}</div></td>
            </tr>
            <tr>
              <td>{#_MEAN_SPEED}</td>
              <td><div align="right">{MEAN_SPEED}</div></td>
            </tr>
          </table></td>
          <td align="right" valign="top">
			<table width="170" class="main_text flightShadowBox col3" border="0" cellpadding="0">
            <tr>
              <th height="22"><div align="center">{#_FLIGHT_FILE}</div></th>
            </tr>
            <tr>
              <td><div aling=center id="geOptionsPos" style="height:28px; text-align:center"><a href="{igcPath}" target="_blank">IGC</a> :: 
					<a href="javascript:nop()" onClick="toggleVisible('geOptionsID','geOptionsPos',14,-40,170,'auto');return false;">Google
                    Earth&nbsp;<img src="{M_PATH}/img/icon_arrow_down.gif" alt="a1" border="0"></a></div></td>
            </tr>
			</table>
			<table class="main_text flightShadowBox col3" width="170" border="0" cellpadding="3" style='margin-top:8px;'>
            <tr>
              <th >{#_RELEVANT_PAGE}</th>
            </tr>
            <tr>
              <td height=19><div align="right">{linkURL}</div></td>
            </tr>
          </table>
			<table class="main_text flightShadowBox col3" width="170" border="0" cellpadding="3" style="margin-top:8px;">
            <tr>
              <th>{#_FLYING_AREA_INFO}</th>
            </tr>
            <tr>
              <td valign="middle" height="39"><div id="takeoffArea111Pos" align="right"><a href="javascript:nop()" onClick="toggleVisible('takeoffArea1','takeoffArea1Pos',20,-156,170,'auto');return false; "><img src="{M_PATH}/img/paraglidingearth_logo.gif" border="0"><br>
              </a></div></td>
            </tr>
            <tr>
              <td valign="middle" height="40"><div id="takeoffArea1Pos" align="right"><a href="javascript:nop()" onClick="toggleVisible('takeoffArea1','takeoffArea1Pos',20,-156,170,'auto');return false; "><img src="{M_PATH}/img/paraglider365logo.gif" border="0"><br>
              </a></div></td>
            </tr>
          </table>
		</td>
        </tr>
      </table>
	</td>
    </tr>
<!-- BEGIN COMMENTS -->
    <tr>
      <td >
		<fieldset class="legendBox"><legend>{#_COMMENTS}</legend>{comments}</fieldset>
	  </td>
    </tr>
<!-- END COMMENTS -->
<!-- BEGIN ADMIN_PANEL -->
    <tr>
      <td ><fieldset class="legendBox"><legend>{#_MORE_INFO}</legend><div align="center">{ADMIN_PANEL}</div></fieldset></td>
    </tr>
<!-- END ADMIN_PANEL -->
    <tr>
      <td align="center" >
		  <div align=center class="mapDiv{2col}">
			{MAP_IMG}{CHART_IMG1}{CHART_IMG2}{CHART_IMG3}{CHART_IMG4}
          </div>
		  <div class="imgDiv{2col}">{images}</div>
		</td>
    </tr>
  </tbody>
</table>
