<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-7">
	<link href="{STYLE_LINK}" rel="stylesheet" type="text/css">
</head>
<body>
<table width="740" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="250"><img src="{IMG_PATH}leonardo_logo_small.png" width="250" height="38"></td>
    <td align="right" valign="top">
<!-- BEGIN SWITCH_ANON_USER -->
<a href='?op=users&page=index&act=login'>Already a member ? Login here</a><br>
<a href='?op=users&page=index&act=register'>Dont have an account ? Register now</a>
<!-- END SWITCH_ANON_USER -->
<!-- BEGIN SWITCH_LOGIN_USER -->
<a href='?op=users&page=index&act=logout'>Logout</a>
<!-- END SWITCH_LOGIN_USER --></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="right" valign="middle">
<!-- BEGIN SWITCH_ADMIN -->
<a href='?op=users&page=admin'>User administration</a><br>
<!-- END SWITCH_ADMIN --></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>


