<style type="text/css">
<!--

.table_display { BORDER-TOP: 1px gray solid; BORDER-RIGHT: 1px gray solid; BORDER-LEFT: 1px gray solid
}
.table_info { BORDER-TOP: 2px gray solid; BORDER-LEFT: 2px gray solid; BORDER-RIGHT: 2px gray solid
}
.bigfont { FONT-SIZE: 18px; COLOR: #005177; }
.header  { border-bottom:1px dashed #999999; font-weight:bold; color:#4C77B6; font-size:10px; letter-spacing:-1px 
}
.header_logo { border-top: 1px gray dashed; border-left: 1px gray dashed; border-bottom: 1px gray dashed; border-right: 1px gray dashed
}
.table_u { FONT-SIZE: 12px; }

.styleRed {
	color: #FF0000;
	font-weight: bold;
}

-->
</style>