
.fl {
  background: url(flags.gif) no-repeat top left;
  width:20px;
  height:12px;
  display:block;
  clear:none;
  padding:0;
  
  margin-right: 0.5em;
  vertical-align: middle;
  text-decoration: none;
  border:0;
	
}

.sprite-us { background-position: 0 -5px; } 
.sprite-mp { background-position: 0 -22px; } 
.sprite-vc { background-position: 0 -39px; } 
.sprite-dk { background-position: 0 -56px; } 
.sprite-se { background-position: 0 -73px; } 
.sprite-ng { background-position: 0 -90px; } 
.sprite-kg { background-position: 0 -107px; } 
.sprite-mc { background-position: 0 -124px; } 
.sprite-sr { background-position: 0 -141px; } 
.sprite-tv { background-position: 0 -160px; } 
.sprite-cz { background-position: 0 -177px; } 
.sprite-sk { background-position: 0 -194px; } 
.sprite-fi { background-position: 0 -211px; } 
.sprite-jm { background-position: 0 -228px; } 
.sprite-so { background-position: 0 -245px; } 
.sprite-gp { background-position: 0 -262px; } 
.sprite-ck { background-position: 0 -279px; } 
.sprite-nf { background-position: 0 -296px; } 
.sprite-fo { background-position: 0 -313px; } 
.sprite-om { background-position: 0 -330px; } 
.sprite-st { background-position: 0 -347px; } 
.sprite-pw { background-position: 0 -364px; } 
.sprite-hr { background-position: 0 -381px; } 
.sprite-er { background-position: 0 -398px; } 
.sprite-tw { background-position: 0 -415px; } 
.sprite-kr { background-position: 0 -432px; } 
.sprite-zw { background-position: 0 -449px; } 
.sprite-gd { background-position: 0 -466px; } 
.sprite-az { background-position: 0 -483px; } 
.sprite-ne { background-position: 0 -500px; } 
.sprite-gy { background-position: 0 -517px; } 
.sprite-mo { background-position: 0 -534px; } 
.sprite-dz { background-position: 0 -551px; } 
.sprite-cl { background-position: 0 -568px; } 
.sprite-fm { background-position: 0 -585px; } 
.sprite-vu { background-position: 0 -602px; } 
.sprite-ba { background-position: 0 -619px; } 
.sprite-bo { background-position: 0 -636px; } 
.sprite-lr { background-position: 0 -653px; } 
.sprite-lv { background-position: 0 -670px; } 
.sprite-bi { background-position: 0 -687px; } 
.sprite-rw { background-position: 0 -704px; } 
.sprite-mm { background-position: 0 -721px; } 
.sprite-pm { background-position: 0 -738px; } 
.sprite-jo { background-position: 0 -755px; } 
.sprite-cg { background-position: 0 -772px; } 
.sprite-bv { background-position: 0 -789px; } 
.sprite-cf { background-position: 0 -806px; } 
.sprite-li { background-position: 0 -823px; } 
.sprite-mq { background-position: 0 -840px; } 
.sprite-jp { background-position: 0 -857px; } 
.sprite-yu { background-position: 0 -874px; } 
.sprite-tp { background-position: 0 -891px; } 
.sprite-ki { background-position: 0 -908px; } 
.sprite-lu { background-position: 0 -925px; } 
.sprite-dm { background-position: 0 -942px; } 
.sprite-py { background-position: 0 -959px; } 
.sprite-ag { background-position: 0 -976px; } 
.sprite-co { background-position: 0 -993px; } 
.sprite-gb { background-position: 0 -1010px; } 
.sprite-cd { background-position: 0 -1027px; } 
.sprite-ci { background-position: 0 -1044px; } 
.sprite-cs { background-position: 0 -1061px; } 
.sprite-sg { background-position: 0 -1078px; } 
.sprite-af { background-position: 0 -1095px; } 
.sprite-sm { background-position: 0 -1112px; } 
.sprite-ml { background-position: 0 -1129px; } 
.sprite-mg { background-position: 0 -1146px; } 
.sprite-la { background-position: 0 -1163px; } 
.sprite-pg { background-position: 0 -1180px; } 
.sprite-in { background-position: 0 -1197px; } 
.sprite-sv { background-position: 0 -1214px; } 
.sprite-il { background-position: 0 -1231px; } 
.sprite-gt { background-position: 0 -1248px; } 
.sprite-cr { background-position: 0 -1265px; } 
.sprite-mk { background-position: 0 -1282px; } 
.sprite-es { background-position: 0 -1299px; } 
.sprite-aq { background-position: 0 -1316px; } 
.sprite-bh { background-position: 0 -1333px; } 
.sprite-bz { background-position: 0 -1350px; } 
.sprite-sd { background-position: 0 -1367px; } 
.sprite-je { background-position: 0 -1384px; } 
.sprite-nc { background-position: 0 -1401px; } 
.sprite-ga { background-position: 0 -1418px; } 
.sprite-re { background-position: 0 -1435px; } 
.sprite-br { background-position: 0 -1452px; } 
.sprite-kh { background-position: 0 -1469px; } 
.sprite-lt { background-position: 0 -1486px; } 
.sprite-hn { background-position: 0 -1503px; } 
.sprite-kn { background-position: 0 -1520px; } 
.sprite-mt { background-position: 0 -1537px; } 
.sprite-pr { background-position: 0 -1554px; } 
.sprite-ma { background-position: 0 -1571px; } 
.sprite-id { background-position: 0 -1589px; } 
.sprite-ir { background-position: 0 -1606px; } 
.sprite-ke { background-position: 0 -1623px; } 
.sprite-bs { background-position: 0 -1640px; } 
.sprite-km { background-position: 0 -1657px; } 
.sprite-dj { background-position: 0 -1674px; } 
.sprite-sa { background-position: 0 -1691px; } 
.sprite-hk { background-position: 0 -1708px; } 
.sprite-uy { background-position: 0 -1725px; } 
.sprite-gw { background-position: 0 -1742px; } 
.sprite-na { background-position: 0 -1759px; } 
.sprite-bf { background-position: 0 -1776px; } 
.sprite-ps { background-position: 0 -1793px; } 
.sprite-tr { background-position: 0 -1810px; } 
.sprite-sy { background-position: 0 -1827px; } 
.sprite-fk { background-position: 0 -1845px; } 
.sprite-fj { background-position: 0 -1861px; } 
.sprite-tf { background-position: 0 -1878px; } 
.sprite-ie { background-position: 0 -1895px; } 
.sprite-zm { background-position: 0 -1912px; } 
.sprite-ph { background-position: 0 -1929px; } 
.sprite-gq { background-position: 0 -1946px; } 
.sprite-md { background-position: 0 -1963px; } 
.sprite-gn { background-position: 0 -1980px; } 
.sprite-kz { background-position: -27px -5px; } 
.sprite-is { background-position: -27px -22px; } 
.sprite-de { background-position: -27px -39px; } 
.sprite-tn { background-position: -27px -56px; } 
.sprite-sb { background-position: -27px -73px; } 
.sprite-eu { background-position: -27px -90px; } 
.sprite-gl { background-position: -27px -107px; } 
.sprite-ge { background-position: -27px -124px; } 
.sprite-an { background-position: -27px -141px; } 
.sprite-pl { background-position: -27px -158px; } 
.sprite-cv { background-position: -27px -175px; } 
.sprite-bd { background-position: -27px -192px; } 
.sprite-td { background-position: -27px -209px; } 
.sprite-ru { background-position: -27px -226px; } 
.sprite-tg { background-position: -27px -243px; } 
.sprite-mh { background-position: -27px -260px; } 
.sprite-np { background-position: -27px -276px; } 
.sprite-tj { background-position: -27px -293px; } 
.sprite-tz { background-position: -27px -310px; } 
.sprite-nl { background-position: -27px -327px; } 
.sprite-ao { background-position: -27px -344px; } 
.sprite-gm { background-position: -27px -361px; } 
.sprite-eg { background-position: -27px -378px; } 
.sprite-ad { background-position: -27px -395px; } 
.sprite-mu { background-position: -27px -412px; } 
.sprite-as { background-position: -27px -429px; } 
.sprite-ec { background-position: -27px -446px; } 
.sprite-gi { background-position: -27px -463px; } 
.sprite-ls { background-position: -27px -480px; } 
.sprite-al { background-position: -27px -497px; } 
.sprite-lb { background-position: -27px -514px; } 
.sprite-aw { background-position: -27px -531px; } 
.sprite-am { background-position: -27px -548px; } 
.sprite-tc { background-position: -27px -565px; } 
.sprite-mn { background-position: -27px -582px; } 
.sprite-pe { background-position: -27px -599px; } 
.sprite-do { background-position: -27px -616px; } 
.sprite-vi { background-position: -27px -633px; } 
.sprite-nr { background-position: -27px -650px; } 
.sprite-vg { background-position: -27px -667px; } 
.sprite-at { background-position: -27px -684px; } 
.sprite-ms { background-position: -27px -701px; } 
.sprite-bw { background-position: -27px -718px; } 
.sprite-ro { background-position: -27px -735px; } 
.sprite-cy { background-position: -27px -752px; } 
.sprite-it { background-position: -27px -769px; } 
.sprite-lc { background-position: -27px -786px; } 
.sprite-fr { background-position: -27px -803px; } 
.sprite-uk { background-position: -27px -820px; } 
.sprite-ye { background-position: -27px -837px; } 
.sprite-hu { background-position: -27px -854px; } 
.sprite-ar { background-position: -27px -871px; } 
.sprite-ky { background-position: -27px -888px; } 
.sprite-bg { background-position: -27px -905px; } 
.sprite-mz { background-position: -27px -922px; } 
.sprite-ca { background-position: -27px -939px; } 
.sprite-unknown { background-position: -27px -956px; } 
.sprite-kw { background-position: -27px -973px; } 
.sprite-tt { background-position: -27px -990px; } 
.sprite-gr { background-position: -27px -1007px; } 
.sprite-ly { background-position: -27px -1024px; } 
.sprite-zr { background-position: -27px -1041px; } 
.sprite-ve { background-position: -27px -1058px; } 
.sprite-sz { background-position: -27px -1075px; } 
.sprite-ua { background-position: -27px -1092px; } 
.sprite-cu { background-position: -27px -1109px; } 
.sprite-im { background-position: -27px -1126px; } 
.sprite-bm { background-position: -27px -1143px; } 
.sprite-lk { background-position: -27px -1160px; } 
.sprite-kp { background-position: -27px -1177px; } 
.sprite-au { background-position: -27px -1194px; } 
.sprite-mv { background-position: -27px -1211px; } 
.sprite-pa { background-position: -27px -1228px; } 
.sprite-gu { background-position: -27px -1245px; } 
.sprite-ai { background-position: -27px -1262px; } 
.sprite-qa { background-position: -27px -1279px; } 
.sprite-th { background-position: -27px -1296px; } 
.sprite-pf { background-position: -27px -1313px; } 
.sprite-uz { background-position: -27px -1330px; } 
.sprite-si { background-position: -27px -1347px; } 
.sprite-bb { background-position: -27px -1364px; } 
.sprite-by { background-position: -27px -1381px; } 
.sprite-um { background-position: -27px -1398px; } 
.sprite-hm { background-position: -27px -1414px; } 
.sprite-iq { background-position: -27px -1430px; } 
.sprite-ae { background-position: -27px -1447px; } 
.sprite-cn { background-position: -27px -1464px; } 
.sprite-my { background-position: -27px -1481px; } 
.sprite-sc { background-position: -27px -1498px; } 
.sprite-et { background-position: -27px -1515px; } 
.sprite-gh { background-position: -27px -1532px; } 
.sprite-bj { background-position: -27px -1549px; } 
.sprite-io { background-position: -27px -1566px; } 
.sprite-ug { background-position: -27px -1582px; } 
.sprite-vn { background-position: -27px -1599px; } 
.sprite-mw { background-position: -27px -1616px; } 
.sprite-pk { background-position: -27px -1633px; } 
.sprite-bt { background-position: -27px -1650px; } 
.sprite-to { background-position: -27px -1667px; } 
.sprite-cm { background-position: -27px -1684px; } 
.sprite-va { background-position: -27px -1701px; } 
.sprite-pt { background-position: -27px -1718px; } 
.sprite-za { background-position: -27px -1735px; } 
.sprite-mx { background-position: -27px -1752px; } 
.sprite-ws { background-position: -27px -1769px; } 
.sprite-mr { background-position: -27px -1786px; } 
.sprite-no { background-position: -27px -1803px; } 
.sprite-ht { background-position: -27px -1820px; } 
.sprite-ee { background-position: -27px -1837px; } 
.sprite-ni { background-position: -27px -1854px; } 
.sprite-sn { background-position: -27px -1871px; } 
.sprite-bn { background-position: -27px -1888px; } 
.sprite-tm { background-position: -27px -1905px; } 
.sprite-nz { background-position: -27px -1922px; } 
.sprite-sl { background-position: -27px -1939px; } 
.sprite-be { background-position: -27px -1956px; } 
.sprite-ch { background-position: -27px -1973px; } 
